<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram | login or signup</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="shortcut icon" type="favicon/png" href="/static/photo/logo.jpg">
</head>

<body>
    <img class="mainimg" src="/static/photo/instagram.png" alt="none">
    <div id="tobehidden">
        <p class="textpara">Sign up to see photos and videos from your friends.</p>
        <a class="getapplink" href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=en_IN&gl=US"><button class="getappbutton"><b>Get Instagram App</b></button></a>
        <table class="ormaintable">
            <td class="orpara1">
                <hr class="orline1">
            </td>
            <td class="orpara2">
                <p class="orpara">Or</p>
            </td>
            <td class="orpara3">
                <hr class="orline2">
            </td>
        </table>
        <p id="accountset" class="accountset"><b><a href="/login" class="loginbutton">Log
                    in</a></b> Or <b><a href="/signup" class="signupbutton">Sign
                    up</a></b></p>
    </div>
</body>
<script>

</script>

</html>